{% extends "index.html" %}

{%  block head_title %}
   Доступные книги
{% endblock %}
{% block content %}


{% for item in itemlist %}
    <br>
    <a href="{% url 'item' item_id=item.id %}" class="c"><table border="0"><tr><td><img src="/media/{{ item.item_image }}" /></td><td><b>{{ item.item_name }}</b><br>
        <b>Цена:</b>{{ item.item_price }} руб. <br> <b>Статус</b>{{ item.get_item_status_display }} <br> <b>Рейтинг:</b>{{item.item_rating}}</td></tr></table></a>
    <br>
{% endfor %}

{% endblock %}
