{% extends "index.html" %}

{%  block head_title %}
   Доступные книги
{% endblock %}
{% block content %}

<table border="1">
<th> Название книги </th> <th> Цена </th> <th> Статус </th> <th> Описание </th> <th> Рейтинг </th>
{% for item in itemlist %}
	<tr>
    <td><a class="maintext" href="{% url 'item' item_id=item.id %}"><b>{{ item.item_name }}</b></a></td> <td>{{ item.item_price }} </td> <td>{{ item.get_item_status_display }} </td><td>{{item.item_description}}</td> <td>{{item.item_rating}}</td></div>
	</tr>
{% endfor %}
    </table>
{% endblock %}
