{% extends "index.html" %}
{% block head_title %}
    Авторизация
{% endblock %}

{% block navbar %}
            <li><a href = "{% url 'main' %}"> Главная  </a></li>
            <li><a href = "{% url 'items' %}">Книги</a></li>
              {% if user.is_anonymous %}
            <li><a href = "{% url 'register' %}">Регистрация</a></li>
            <li class="active"><a href = "{% url 'login' %}"><b>Войти</b></a></li>
              {% endif %}
              {% if user.is_authenticated %}
            <li><a href = "{% url 'orders' %}">Мои заказы</a></li>
            <li><a href = "{% url 'logout' %}">Выйти </a></li>
              {% endif %}
<li>&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp </li>

{% endblock %}

{% block content %}
<br>
<br>

<div class="center">

      <form class="form-signin" role="form" action="", method="post">
        <h2 class="form-signin-heading">Пожалуйста, войдите</h2>
         {% csrf_token %}
        <input id="username" class="form-control" name="username" placeholder="Ваш логин" required autofocus>
        <input id="password" type="password" name="password" class="form-control" placeholder="Ваш пароль" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти!</button>
      </form>

    </div>

{% endblock %}