{% extends "index.html" %}

{%  block head_title %}
    Регистрация
{% endblock %}
{% block content %}
<br>
<br>

<div class="center">

      <form class="form-signin" role="form" action="", method="post">
        <h2 class="form-signin-heading">Пожалуйста, войдите</h2>
         {% csrf_token %}
        <input id="username" type = "charfield" class="form-control" name="username" placeholder="Ваш логин" required autofocus>
        <input id="password1" type="password" name="password1" class="form-control" placeholder="Ваш пароль" required>
        <input id="password2" type="password" name="password2" class="form-control" placeholder="Повторите ваш пароль" required>
        <input id="email" type="email" name="email" class="form-control" placeholder="Ваша почта" required>
        <input id="first_name" type = "charfield" name="first_name" class="form-control" placeholder="Ваше Имя" required>
        <input id="last_name"  type = "charfield" name="last_name" class="form-control" placeholder="Ваша Фамилия" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
{% endblock %}